*, ::before, ::after{
   box-sizing: border-box;
}  
h1,h2,h3,h4,h5,h6,p{
   margin: 0;
}
body{
   margin: 0;
   font-family: 'Helvetica', sans-serif;
   height: 100vh;
   width: 100%;
   display: grid;
   place-items: center;
   background: #EBEBF3;
   color: #0b1225;
   transition: .3s;
}
.container{
   padding: 2rem;
   text-align: center;
}
.t-container{
   display: inline-block;
   margin-bottom: 20px;
}
.toggle{
   width: 44px;
   height: 22px;
   background:linear-gradient(90deg, #0b1225 30%,#243b74 100% );
   border-radius: 999px;
   margin: 0;
   padding: 0;
   display: inline-block;
   position: relative;
}
.circle.toggle-move{
   left: 18px;
}
.circle{
   height: 27px;
   width: 27px;
   background: white;
   border-radius: 50%;
   margin: 0;
   padding: 0;
   left: -1px;
   bottom: -3px;
   position: absolute;
   box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px -1px;
   transition: all ease-in-out .3s;
}
.title{
   margin-bottom: 50px;
}
.palettes{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   align-items: center;
   justify-content: center;
}
.palette-card{
   padding: 5px 5px 10px;
   background: white;
   box-shadow: rgba(0, 0, 0, 0.062) -4px 9px 15px -6px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 12px;
   gap: .8rem;
   transition: .3s ease;
   cursor: pointer;
}
.palette-card:hover{
   box-shadow: rgba(0, 0, 0, 0.178) 0px 25px 30px -12px;
   transform: translateY(-7px);

   .palette-hash{
      color: #0b1225;
   }
}
.palette-card-palette{
   width: 120px;
   height: 160px;
   // background: blue;
   border-radius: 6px;
   transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .4s;
}
.palette-hash{
   font-size: 13px;
   color:  #76767a;
}
.button-container{
   display: flex;
   flex-direction: column;
   width: 100%;
   text-align: center;
   margin: 50px 0 60px 0;
}
.button{
   padding: 15px 25px;
   background: #7d6cca;
   color: white;
   width: 250px;
   margin: auto;
   text-decoration: none;
   font-size: .7rem;
   border-radius: 5px;
   margin-bottom: 20px;
   transition: background .3s ease-in-out;
   cursor: pointer;
   border: none;
   outline: 0;
   outline-width: 0;
}
.button:hover{
   background: #816be2;
}
small{
   font-size: .7rem;
}
.info-container{
   display: flex;
   text-align: center;
}
.info{
   background: white;
   margin: auto;
   border-radius: 999px;
   padding: .5rem;
   font-size: .6rem;
   cursor: pointer;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



body.dark-mode{
   color: #EBEBF3;
   background: #0b1225;

   .t-container .toggle{
      // background: #7d6cca;
      background:linear-gradient(90deg, #7d6cca 50%,#b4a4f7 100% );
   }
   .palette-card{
      background: #EBEBF3;
   }
   .palette-hash{
      color: #0b1225;
   }
   span{
      color: #0b1225;
   }
}

// palette default colors

#p-1{
   background: rgb(251, 171, 164);
}
#p-2{
   background: rgb(252, 212, 235);
}
#p-3{
   background: rgb(206, 122, 255);
}
#p-4{
   background: rgb(255, 121, 121);
}
#p-5{
   background: rgb(89, 187, 253);
}
